* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

main {
  font-family: "Heebo", sans-serif;
}

.landing {
  padding: 0px;
  margin: 0px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1000px;
}

.bigText {
  font-family: "Heebo", sans-serif;
  font-size: 4rem;
  font-weight: lighter;
  position: fixed;
  color: white;
  top: 33%;
  left: 2%;
  transform: translate("-50%", "-30%");
}

.intro {
  background: black;
  /* background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/hero-bg.png"); */

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.introText {
  color: rgb(236, 231, 231);
  font-family: "Heebo", sans-serif;
  /* font-family: 'Lobster', cursive;
  font-family: 'Signika', sans-serif; */
  font-size: 4rem;
}

.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}
.hide span {
  display: inline-block;
  transform: translateY(100%);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  color: white;
  margin: 16em 8em;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.3rem;
  width: 55%;
  font-family: "Heebo", sans-serif;
  width: 55%;
  color: rgb(107, 107, 107);
}

button {
  font-size: 1.3rem;
  padding: 0.5rem 1em;
  margin-top: 3em;
  background-color: rgb(0, 144, 255);
  border: none;
  color: white;
  font-size: bold;
  /* text-transform: uppercase; */
}

html,
body {
  width: 100%;
  /*height: auto;*/
  background: #000100;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  /* overflow: hidden; */
}

.newdiv1{
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (-webkit-max-device-pixel-ratio: 1.50) {
  body {
    width: 100%;
    /*height: auto;*/
    background: #000;
    color: white;
    overflow-x: hidden;
    /* overflow: hidden; */
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  /* z-index: 0; */
}

.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  font-family: "Montserrat";
  font-size: 24px;
  border-bottom: 1px solid #333433;
  /* padding: 20px; */
  padding-left: 40px;
  padding-top: 20px;
  z-index: 1;
}

.menu-links {
  left: 100px;
  line-height: 1;
  margin-left: 30px;
}

.menu-links ul li {
  display: inline-block;
  padding: 20px 30px;
  color: rgba(255, 255, 255, 0.5);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

#text1 {
  position: fixed;
  top: 330px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 900px;
  z-index: 1;
  font-family: "Roboto", sans-serif;

  /* font-family: "Heebo", sans-serif; */
}
@media (-webkit-max-device-pixel-ratio: 1.50) { 
  #text1 {
    position: fixed;
    top: 330px;
    left: 50%;
    transform: translate(-50%, -80%);
    color: white;
    width: 900px;
    z-index: 1;
    font-family: "Roboto", sans-serif;
  
    /* font-family: "Heebo", sans-serif; */
  }
}

.col {
  color: white;
  font-family: "Montserrat";
}

.title {
  font-size: 120px;
  text-transform: uppercase;
  /* width: 0%; */
  overflow: hidden;
  white-space: nowrap;
  color: white;
}

.img-3 {
  position: fixed;
  top: 700px;
  right: 30px;
  transform: translateY(-40%);
  background: url("./component/images/back1-removebg-preview.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 200px;
  z-index: 0;
}

@media (-webkit-max-device-pixel-ratio: 1.50) { 
  .img-3 {
    position: fixed;
    top: 520px;
    right: 30px;
    transform: translateY(-40%);
    background: url("./component/images/back1-removebg-preview.png") no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 160px;
    z-index: 0;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: 2;
  background: white;
}

.first {
  top: 0;
}

.second {
  top: 33.3%;
}

.third {
  top: 55.6%;
}

.flexMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); */
/* set from bottom */
.btnDiv {
  display: flex;
  position: fixed;
  top: 500px;
  left: 40%;
  height: 70px;
  border-radius: 40px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #000100;
  /* padding: 10px; */
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (-webkit-max-device-pixel-ratio: 1.50) { 
.btnDiv {
  display: flex;
  position: fixed;
  top: 430px;
  left: 40%;
  height: 70px;
  border-radius: 40px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #000100;
  /* padding: 10px; */
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
}


.secondLarge {
  /* background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/money-matters-bg.jpg"); */
  background-image: url("./component/images/back1.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: contain;
  font-family: "Roboto", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap");
.lrgTXt2 {
  display: flex;
  flex-direction: column;
  font-size: 80px;
  position: relative;
  top: 35%;
  left: 3%;
  height: 500px;
  font-family: "Poppins", sans-serif;

  /* fl */
}
.lrgTXt2 div {
  margin-bottom: 20px;
  color: seashell;
}

.portContainer {
  /*height: 100vh;*/
  width: 100%;
  background: linear-gradient(#2b1055, #7597de);
  font-family: "Poppins", sans-serif;
}

@media (-webkit-max-device-pixel-ratio: 1.50) {
  .portContainer {
    height: 114vh;
    width: 100%;
    background: #000;
    font-family: "Poppins", sans-serif;
  }
}
.relMe {
  position: relative;
  width: 100%;
  height: 100%;
}
.portBox {
  /* border: 2px solid snow; */
  height: auto;
  width: 300px;
  position: absolute;
  left: 10%;
  top: 30%;
  color: snow;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.portBox1 {
  height: auto;
  /* width: 300px; */
  position: absolute;
  left: 10%;
  top: 40%;
  color: snow;
  font-size: 44px;
}

.btnBox {
  height: auto;
  /* width: 300px; */
  position: absolute;
  left: 8%;
  top: 55%;
  color: snow;
  display: flex;
  flex-direction: row;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-around;
  /* font-size: 44px; */
}

.btnBox button {
  background-color: inherit;
  border-radius: 2px;
  border: 1px solid snow;
  cursor: pointer;
}

.container2 {
  height: 120vh;
  width: 100%;
  background: linear-gradient(#2b1055, #7597de);
  background-size: contain;
  z-index: 2;
  position: relative;
}

.mount1 {
  height: 800px;
  width: 100%;
}
.mount1 img {
  height: 100%;
}

.mount1 {
  position: absolute;
  /* top: calc(820px-); */
  top: 100px;
}

.btnMount {
  /* background-color: inherit; */
  /* border: 1px solid white; */
  position: absolute;
  border-radius: 10px;
  left: 37%;
  top: 30%;
  cursor: pointer;
}
.btnMount button {
  cursor: pointer;
  background: inherit;
  border: 1px solid seashell;
  border-radius: 10px;
}

.apexcharts-menu {
  background: #000100 !important;
  color: #8f8f8f;
  border: 0px !important;
  border-radius: 5px;
}
.chartCol {
  color: black !important ;
}

.apexcharts-xaxis-label {
  color: snow !important;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 52.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 80%;
  width: 80%;
  position: absolute;
  margin-top: 20px;
  border-radius: 30px;
  margin-left: 10%;
}

.drpDwn {
  background-color: inherit;
  color: #8b3845;
  border: 2px solid #8b3845;
  border-radius: 10px;
  padding: 1%;
  outline: none;
}

.table {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  width: auto;
}
.trow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.cell {
  min-height: 40px;
  width: 50%;
  border: 2px solid #8b3845;
  font-size: 14px;
  border-left: 0px;
  border-top: 0px;
  align-items: center;
  box-sizing: content-box;
  color: snow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cell2 {
  border-right: 0px;
}
